* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #41e965b6;
    width: 45%;
    position: relative;
    top: 40px;
    left: 20px;
    padding: 10px;
    text-align: center;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.lista_horizontal {
    padding: 10px;
}

.lista_horizontal li {
    display: inline;
    background-color: #41e965b6;
    position: relative;
    left: 900px;
    padding: 20px;
}

#div_inicio1 {
    position: relative;
    top: 100px;
    left: 20px;
    width: 45%;
    height: inherit;
}

#div_inicio2 {
    position: relative;
    top: 0px;
    left: 450px;
    width: 45%;
}

#logoxbox {
    width: 500px;
    display: inline;
    position: relative;
    left: 500px;
    bottom: 200px
}

#div_inicio3 {
    position: relative;
    top: 50px;
    left: 20px;
    width: 45%;
}

#footer_inicio {
    position: absolute;
    top: 1000px;
    left: 20px;
    background-color: #41e965b6;
}

#p_footer {
    display: inline;
}

#main_consolas {
    position: relative;
    top: 100px;
}

#article_xbox {
    max-width: 45%;
    position: relative;
    left: 20px;
    display: inline-block;
}

#article_xbox360 {
    max-width: 45%;
    position: relative;
    left: 100px;
    display: inline-block;
}

#article_xboxone {
    max-width: 45%;
    position: relative;
    left: 20px;
    top: 20px;
    display: inline-block;
}

#article_xboxseries {
    max-width: 45%;
    position: relative;
    left: 100px;
    top: 20px;
    display: inline-block;
}

#footer_consolas {
    position: relative;
    top: 170px;
    left: 20px;
}

#footer_consolas p {
    display: inline;
}

#article_juegosXbox {
    position: relative;
    top: 80px;
    left: 20px;
    display: inline-block;
}
#juegosdestacados_article_juegosXbox360 {
    position: relative;
    top: 80px;
    left: 20px;
    display: inline-block;}

    #juegosdestacados_article_juegosXboxone {
        position: relative;
        top: 80px;
        left: 20px;
        display: inline-block;}
        #juegosdestacados_article_juegosXboxseries {
            position: relative;
            top: 80px;
            left: 20px;
            display: inline-block;}
#article_juegosXbox div {display: inline-block; position: relative;}
#juegos_xbox {display: inline-block; max-width: 50%; position: relative; left: 300px;}
#juego2_xbox {left: 30px;}
#juego3_xbox {left: 70px;}

#juegosdestacados_article_juegosXbox360 div {display: inline-block; position: relative;}
#juegosdestacados_xbox360_p {display: inline-block; max-width: 50%; position: relative; left: 300px;}
#juego2_360 {left: 30px;}
#juego3_360 {left: 70px;}

#juegosdestacados_article_juegosXboxone div {display: inline-block; position: relative;}
#juegosdestacados_xboxone_p {display: inline-block; max-width: 50%; position: relative; left: 300px;}
#juego2_one {left: 30px;}
#juego3_one {left: 70px;}

#juegosdestacados_article_juegosXboxseries div {display: inline-block; position: relative;}
#juegosdestacados_xboxseries_p {display: inline-block; max-width: 50%; position: relative; left: 300px;}
#juego2_series {left: 30px;}
#juego3_series {left: 70px;}